/*DEFINITION DES POLICES PERSONNALISEES*/

@font-face 
{
    font-family: 'robotobold';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'robotoblack';
    src: url('fonts/Roboto-Black-webfont.eot');
    src: url('fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Black-webfont.woff') format('woff'),
         url('fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*MAIN PAGE ELEMENTS*/
p
{
    font-family: 'robotoregular', Arial, sans-serif;
    font-size: 0.9em;
}
h1
{
    font-family: 'robotoblack', Arial, sans-serif;
    color: rgb(211,187,35);
    font-size: 2.5em;
}
h2
{
    font-family: 'robotoblack', Arial, sans-serif;
    color: rgb(151,151,175);
    font-size: 2em;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
h3
{
    font-family: 'robotoblack', Arial, sans-serif;
    color: black;
    font-size: 1.1em;
}
img 
{
    border-radius: 5px;
}
a.button
{
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 6, 8);
    border-radius: 15px;
    border-bottom: 3px rgb(211,187,35) solid;
    width: 100px;
}
a.button:hover
{
    border: white solid 1px;
    width: 100px;
}

.login_button
{
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 6, 8);
    border-radius: 15px;
    border-bottom: 3px rgb(211,187,35) solid;
    width: 100px;
}
.login_button.hover
{
    border: white solid 1px;
}
fieldset
{
    width: 30%;
    border: 2px solid rgb(211,187,35);
    border-radius: 30px;
    min-width: 300px;
    text-align: center;
    margin: auto;
}
input:required 
{
    font-size: 14px;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 30px;
    padding: 5px 5px 5px 8px;
    width: 95%;
}

legend
{
    font-family: 'robotoblack', Arial, sans-serif;
    color: rgb(211,187,35);
    font-size: 2em;
}

.cpanel
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.cpanel ul 
{
    display: flex;
    list-style: none;
}
.cpanel li
{
    margin-right: 10px;
}
.cpanel a
{
    font-family: 'robotoregular', Arial, sans-serif;
    text-decoration: none;
}

/*HEADER*/
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    z-index: 3;
    background-color: white;
}

#logo
{
    display: flex;
    margin-left: 40px;
}
.logo_jeanforteroche
{
    height: 80px;
}

header nav ul 
{
    display: flex;
    list-style: none;
}
header nav li
{
    margin-right: 10px;
}
header nav a
{
    font-family: 'robotoregular', Arial, sans-serif;
    font-size: 1em;
    color: black;
    padding-top: 30px;
    margin-right: 40px;
    text-decoration: none;
}
header nav a:hover
{
    border-top: 3px solid rgb(211,187,35);
}

/*SECTION introduction*/
#introduction
{
    background-image: url('images/billet-7.jpg');
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    margin-top: 100px;
    height: 850px;
    padding-top: 200px;
}
#introduction_administration
{
    background-image: url('images/billet-6.jpg');
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    margin-top: 100px;
    height: 850px;
    padding-top: 200px;
}
.heading_description
{
    text-align: center;
}

/*BILLETS*/
.listing-item
{
    margin-bottom: 32px;
}
.excerpt
{
    overflow: hidden;
    margin-bottom: 32px;
    width: 80%;
    text-align: left;
    height: 100px;
}
.display-posts-listing.image-left .image 
{
    float: left;
    margin: 0 16px 0 0;
}
.thumbnail 
{
    border: 1px solid #C0C0C0;
    padding: 5px;
    object-fit: cover;
}
.display-posts-listing.image-left .title 
{
    display: block;
    text-decoration: none;
}

/*FOOTER*/
footer
{
    background-color: rgb(0, 5, 7);
    position: relative;
    height: 100px;
    color: white;
    padding-top: 1px;
}

/*MEDIA QUERIES*/

